{% extends "base.html" %}

{% block content %}
    <p><a href="{% url 'severity_create' %}">Create a new severity</a></p>
    <h3>Severities</h3>
    <table class="table table-condensed table-striped">
        <thead>
        <tr><th>Action</th>
            <th>Name</th>
        </thead>
        <tbody>
            {% for severity in object_list %}
                <tr><th><a href="{% url 'severity_detail' severity.pk %}">Edit</a>
                <a href="{% url 'severity_delete' severity.pk %}">Delete</a></th>
                <th>{{ severity.name }}</th>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}