{% extends "base.html" %}

{% block content %}
    <p><a href="{% url 'species_create' %}">Create a new species</a></p>
    <h3>Species</h3>
    <table class="table table-condensed table-striped">
        <thead>
        <tr><th>Action</th>
            <th>Name</th>
            <th>Scientific name</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Confidential</th></tr>
        </thead>
        <tbody>
            {% for species in object_list %}
                <tr><th><a href="{% url 'species_detail' species.pk %}">Edit</a>
                <a href="{% url 'species_delete' species.pk %}">Delete</a></th>
                <th>{{ species.name }}</th>
                <th>{{ species.scientific_name }}</th>
                <th>{{ species.category }}</th>
                <th>{{ species.severity }}</th>
                <th>{{ species.is_confidential }}</th></tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}