{% extends 'base.html' %}
{% block content %}
<div class="account-links">
    {% if user.is_staff %}
        <a href="{% url 'pages-list' %}">Static Pages</a>
    {% endif %}
    {% if user.is_active %}
        <a href="{% url 'users-home' %}">Home</a>
        <a href="{% url 'reports-list' %}">Search Reports</a>
        <a href="{% url 'password_change' %}">Change Password</a>
        <a href="{% url 'users-detail' user.pk %}">View Profile</a>
        <a href="{% url 'users-edit' user.pk %}">Edit Profile</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
</div>
<div id="avatar_box" class="pull-left">
    {% if object.photo %}
        <img id="avatar_image" src="{{ object.photo.url }}" width="64" height="64"/>
    {% endif %}
    {% if current_user.is_staff %}
        <p>{{ object.email }}</p>
        <p>Active: {{ object.is_active }}</p>
        <p>Staff: {{ object.is_staff }}</p>
    {% endif %}
    <p>Joined: {{ object.date_joined|date:"E d Y" }}</p>
</div>
<div id="biography_box">
    <h3>{{ object.prefix }} {{ object.first_name }} {{ object.last_name }} {{ object.suffix }}</h3>
    <p><b>Biography:</b> {{ object.biography }}</p>
    <p><b>Affiliations:</b> {{ object.affiliations }}</p>
</div>
{% endblock %}
